<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <th:block th:replace="fragments/header :: nav"></th:block>
    <main>
        <h1>Bienvenido a Electronic Game</h1>
        <p>Encuentra los mejores productos tecnológicos a los mejores precios.</p>
        <div th:if="${#lists.isEmpty(articulo)}">
            <p>No se encontraron artículos con ese nombre.</p>
        </div>
        <div th:each="art : ${articulo}">
            <h1 th:text="${art.nombre}">Nombre del Artículo</h1>
            <div class="gallery">
                <div class="thumbnails" id="thumbnails">
                    <div th:each="img, iterStat : ${art.imagenes}">
                        <img th:src="@{${img.url}}" th:alt="'Imagen ' + ${iterStat.index + 1}" th:onclick="|changeImage('@{${img.url}}')|" />
                    </div>
                </div>
                <div class="main-image">
                    <img th:src="@{${art.imagenes[0].url}}" alt="Imagen del artículo principal" id="mainImage" />
                </div>
                <div class="product-details">
                    <p>Precio: <span th:text="${art.precio}"></span>€</p>
                    <p>Descripción: <span th:text="${art.descripcion}"></span></p>
                </div>
            </div>
            <div class="ratings">
                <p>Valoraciones</p>
                <div th:each="val : ${art.valoraciones}">
                    <p><span th:text="${val.comentario}"></span></p>
                    <p>Estrellas: <span th:text="${val.estrellas}"></span></p>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer :: footer"></th:block>
    <script>
        function changeImage(url) {
            document.getElementById('mainImage').src = url;
        }
    </script>
</body>
</html>
