<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Valoraciones</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Tecnología</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <th:block th:replace="fragments/header :: nav"></th:block>
    <main>
        <h1>Bienvenido a Electronic Game</h1>
        <p>Encuentra los mejores productos tecnológicos a los mejores precios.</p>
        <!-- Aquí puedes agregar más contenido relevante, como productos destacados, promociones, etc. -->
        
            <h1>Lista de Imágenes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Articulo</th>
                <th>Nombre Articulo</th>
                <th>Valoracion</th>
                <th>Estrellas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="valoracion : ${valoraciones}">
                <td th:text="${valoracion.id}"></td>
                <td th:text="${valoracion.articulo.id}"></td>
                <td th:text="${valoracion.articulo.nombre}"></td>
                <td th:text="${valoracion.comentario}"></td>
                <td th:text="${valoracion.estrellas}"></td>
            </tr>
        </tbody>
    </table>

    </main>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>

